@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  background-color: #ffffff;
  min-width: 290px;
  line-height: 1.5em;
}

#navbar {
  position: fixed;
  min-width: 290px;
  z-index: 99;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: #000000;
  background-color: #0077ff;
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 2em;
  line-height: 1.2em;
}

#navbar header {
  color: #ffffff;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

code {
  display: block;
  text-align: left;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 5px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #000000;
  border-top: 2px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 25px;
}

#navbar a:hover {
  color: lightgray;
}

section article {
  color: #000000;
  margin: 15px;
  font-size: 1em;
}

section li {
  margin: 15px 0px 0px 20px;
}

@media only screen and (max-width: 815px) {
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: #0077ff;
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 17.1em;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
    border-color: #ffffff;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 300px;
  }

  #navtitle{
    margin-left: 4rem;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}

#Reference a:hover {
  color: #0077ff;
}

/*back button*/
.backwrapper{
  position: absolute;
  top: 0;
  left: 0;
}

#backbtn{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  z-index: 99;
  font-size: 1.3rem;
}

#backbtn :hover{
  text-decoration: underline;
  opacity: 0.7;
  transition: ease 0.4s;
}